html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background-color: #25262a;
  color: white;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar section */

.nav {
  width: 100%;
  height: 65px;
  position: fixed;
  line-height: 65px;
  text-align: center;
}

.nav div.logo {
  float: left;
  padding-left: 20px;
  width: auto;
  height: auto;
}

.nav div.logo a {
  text-decoration: none;
  color: #fff;
  font-size: 1.5rem;
}

.sarda{
  font-size: 1.5rem;
  color: #a4a4a5;
}

.sarda:hover {
  color: #64f4aa;
  
}

.nav div.main_list {
  height: 65px;
  float: right;

}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #fff;
  line-height: 65px;
  font-size: 1.5rem;
  
}

.nav div.main_list ul li a:hover {
  color: #64f4aa;
}

.navTrigger {
  display: none;
}

.nav {
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

@media screen and (min-width: 900px) {
  .sarda{
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .nav div.logo a{
    font-size: 2rem;
  }
}


@media screen and (min-width: 935px) and (max-width: 1024px) {
  .container {
    margin: 0;
  }
}

@media screen and (max-width: 935px) {
  .navTrigger {
    display: block;
  }
  .nav div.logo {
    margin-left: 15px;
  }
  .nav div.main_list {
    width: 100%;
    height: 0;
    overflow: hidden;
  }
  .nav div.show_list {
    height: auto;
    display: none;
  }
  .nav div.main_list ul {
    flex-direction: column;
    width: 100%;
    height: 100vh;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #111;
    /*same background color of navbar*/
    background-position: center top;
  }
  .nav div.main_list ul li {
    width: 100%;
    text-align: center;
  }
  .nav div.main_list ul li a {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
    padding: 20px;
  }
  .nav div.media_button {
    display: block;
  }
}

.navTrigger {
  cursor: pointer;
  width: 30px;
  height: 25px;
  margin: auto;
  position: absolute;
  right: 30px;
  top: 0;
  bottom: 0;
}

.navTrigger i {
  background-color: #fff;
  border-radius: 2px;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
}

.navTrigger i:nth-child(1) {
  -webkit-animation: outT 0.8s backwards;
  animation: outT 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(2) {
  margin: 5px 0;
  -webkit-animation: outM 0.8s backwards;
  animation: outM 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger i:nth-child(3) {
  -webkit-animation: outBtm 0.8s backwards;
  animation: outBtm 0.8s backwards;
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

.navTrigger.active i:nth-child(1) {
  -webkit-animation: inT 0.8s forwards;
  animation: inT 0.8s forwards;
}

.navTrigger.active i:nth-child(2) {
  -webkit-animation: inM 0.8s forwards;
  animation: inM 0.8s forwards;
}

.navTrigger.active i:nth-child(3) {
  -webkit-animation: inBtm 0.8s forwards;
  animation: inBtm 0.8s forwards;
}

@-webkit-keyframes inM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes inM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes outM {
  50% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(45deg);
  }
}

@keyframes outM {
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(45deg);
  }
}

@-webkit-keyframes inT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes inT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes outT {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(9px) rotate(135deg);
  }
}

@keyframes outT {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(9px) rotate(0deg);
  }
  100% {
    transform: translateY(9px) rotate(135deg);
  }
}

@-webkit-keyframes inBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes inBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

@-webkit-keyframes outBtm {
  0% {
    -webkit-transform: translateY(0px) rotate(0deg);
  }
  50% {
    -webkit-transform: translateY(-9px) rotate(0deg);
  }
  100% {
    -webkit-transform: translateY(-9px) rotate(135deg);
  }
}

@keyframes outBtm {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  50% {
    transform: translateY(-9px) rotate(0deg);
  }
  100% {
    transform: translateY(-9px) rotate(135deg);
  }
}

.affix {
  padding: 0;
  background-color: #111;
}

.myH2 {
  text-align: center;
  font-size: 4rem;
}
.myP {
  text-align: justify;
  padding-left: 15%;
  padding-right: 15%;
  font-size: 20px;
}
@media all and (max-width: 700px) {
  .myP {
    padding: 2%;
  }
}
/* Navbar section */

/*section 1 */
#my-profil {
  display: flex;
  background-color: #2d2f33;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.text-profil {
  margin: 80px 10px 10px;
  padding: 14px 16px;
}

.profil-status {
  background-color: #64f4aa;
  color: #25262a;
  font-size: x-small;
  width: max-content;
  box-shadow: #25262a82 1px 6px 5px;
  font-style: italic;
  border-radius: 5px;
  padding: 5px;
}

.intro-para {
  color: #a4a4a5;
  font-size: 0.95rem;
  margin-top: 40px;
}

@media screen and (min-width: 900px) {
  .text-profil {
    margin: 50px 20px 20px 20px;
    width: 50%;
    font-size: 2rem;
  }
}

@media screen and (min-width: 900px) {
  .profil-status {
    font-size: 1.5rem;
  }
}

@media screen and (min-width: 900px) {
  .intro-para {
    font-size: 1.5rem;
  }
}
/*section 1 */

/*section 2 */
#about-me {
  display: flex;
  padding: 14px 16px;
  text-align: center;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about-me-container {
  display: flex;
  flex-direction: column;
}

.about-me-text {
  margin: 10px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 0.95rem;
  text-align: start;
}

.about-me-title {
  font-size: 2rem;
}

span {
  color: #64f4aa;
}

@media screen and (min-width: 900px) {
  .about-me-text {
    margin: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-size: 1.2rem;
  }
}

@media screen and (min-width: 900px) {
  .about-me-title {
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-me-text {
    font-size: 1.5rem;
  }
}
/*section 2 */

/* dropdown icons  */
.fa-solid {
  color: white;
  font-size: xx-large;
  text-decoration: none;
}

.fa-solid:hover {
  color: #64f4aa;
}
/* dropdown icons  */
/* 



strong {
  color: white;
}

#name-left {
  font-size: larger;
  color: #a4a4a5;
  margin: 10px;
}

.fa-solid,
.fa-brands {
  padding: 10px;
}






#my-skills {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2d2f33;
  justify-content: center;
  align-items: center;
}

#my-skills-title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.my-skills-logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.title-my-works {
  text-align: center;
}

#my-works {
  display: flex;
  justify-content: space-evenly;
  padding: 14px 16px;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

.projet-wrap {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 50vh;
}

button {
  color: #ffffff;
  background-color: #25262a;
  border: none;
  font-size: x-large;
}

.logo-html {
  color: #fb564e;
  margin: 20px;
  display: flex;
  align-items: center;
}

.logo-css {
  color: #6172fb;
  margin: 20px;
  display: flex;
  align-items: center;
}

.logo-javascript {
  color: #64f4aa;
  margin: 20px;
  display: flex;
  align-items: center;
}

.projet {
  border: #64f4aa solid;
  border-radius: 10px;
  background-color: #2d2f33;
  width: 80%;
  height: 100%;
  text-align: center;
}

#my-contact {
  background-color: #2d2f33;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;
}

.title-my-contact {
  text-align: center;
  padding-top: 20px;
}

button:hover {
  color: #64f4aa;
}

.button {
  border: none;
  color: white;
  background-color: #2d2f33;
}

p {
  font-size: 20px;
}

.container {
  background-color: #f9f9f9;
  width: 80%;
  border-radius: 15px;
}

.skill {
  background-color: #64f4aa;
  color: white;
  text-align: right;
  border-radius: 15px;
}

.html {
  width: 80%;
}

.js {
  width: 10%;
}

a {
  text-decoration: none;
}



@media screen and (min-width: 1600px) {
  #name-left {
    font-size: 35px;
  }
}
@media screen and (min-width: 1600px) {
  .topnav a {
    font-size: 21px;
  }
}







@media screen and (min-width: 1600px) {
  .logo-javascript {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  .logo-css {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 1600px) {
  .logo-html {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .logo-javascript {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .logo-css {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .logo-html {
    width: 100%;
    justify-content: center;
  }
}

@media screen and (min-width: 600px) {
  .title-my-works {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 600px) {
  #my-works {
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 100px 300px 300px 300px;
    gap: 0;
  }
}

@media screen and (min-width: 600px) {
  .my-skill {
    justify-content: center;
  }
} */
